
# Virtual Environment
venv/

# Python Cache
__pycache__/
*.py[cod]

# Environment Variables
.env

# Flask Instance Folder
instance/

# Uploaded Files
uploads/
app/static/uploads/*
!app/static/uploads/.gitkeep

# VS Code Settings
.vscode/

# macOS
.DS_Store

# Windows
Thumbs.db
